<div class="section">
  <div class="has-text-centered">
    <h2 class="title is-2"><u>Booking information:</u></h2>
  </div>

  <% if @flight.nil? %>
    <%= render 'empty_table' %>
  <% else %>
    <%= render 'flight_table' %>
  <% end %>

  <div class="has-text-centered mb-5">
    <h3 class="title is-3"><u>Passenger Information</u></h3>
  </div>

  <div class="columns is-centered">
    <div class='column is-half'>
      <div class="container">
        <%= simple_form_for(@booking) do |f| %>

        <div class="has-text-centered">
          <%= @booking.errors.full_messages.first if @booking.errors.any? %>
        </div>

            <%= f.simple_fields_for :passengers do |passenger| %>

            <div class="box">
              <div class="field">
                <div class="control">
                  <%= passenger.input :name,
                          label_html: { class: 'label' },
                          wrapper: false,
                          input_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= passenger.input :email,
                          label_html: { class: 'label' },
                          wrapper: false,
                          input_html: { class: 'input' } %>
                </div>
              </div>
            </div>

          <% end %>

        <%= f.hidden_field :flight_id, value: params[:booking][:flight_id] %>
        <%= f.hidden_field :number_of_passengers, value: params[:booking][:number_of_passengers] %>

        <div class="has-text-centered">
          <%= f.submit class: 'button', id: 'button' %>
        </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>